services:
  backend:
    build:
      dockerfile: local.Dockerfile
    env_file:
      .env
    ports:
      - "8000:8000"
    volumes:
      - ./plexio:/app/plexio
    command: uvicorn plexio.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - redis
  frontend:
    build:
      context: frontend-vite
      dockerfile: local.Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend-vite/src:/app/src
      - ./frontend-vite/public:/app/public
    command: npm run dev
  redis:
    image: "redis:alpine"
    ports:
      - "6399:6379"
  proxy:
    image: nginx:alpine
    volumes:
      - type: bind
        source: nginx-local.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    ports:
      - 80:80
    depends_on:
      - backend
      - frontend
